---
import "../styles/global.css";

interface Props {
  title?: string;
}
const { title = "Waldo" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/pfp.png" />
    <title>{title}</title>
  </head>
  <body class="w-[95%] md:w-[70%] lg:w-[50%] mx-auto py-8">
    <header class="flex items-center gap-2 mb-6">
      <img src="/logo.gif" alt="Waasabi Logo" class="w-4 h-4" />
      <h2 class="text-sm font-bold"><a href="/">Waldo Sobrino</a></h2>
    </header>

    <main>
      <slot />
    </main>

  </body>
</html>
